<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet'
          type='text/css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800'
          rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- ============ Add custom CSS here ============ -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">

        function validate() {
            var key=window.event.keyCode;
            var allowed='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ :;,.?!£$%^&*()_+-*{}@~<>&"\'';

            return allowed.indexOf(String.fromCharCode(key)) !=-1 ;
        };

        function validatephone()
        {
            var key=window.event.keyCode;
            var allowed='0123456789';

            return allowed.indexOf(String.fromCharCode(key)) !=-1 ;
        };

        function ValidateEmail(mail)
        {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        };
        function ValidateEmail(mail)
        {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))
            {
                return (true)
            }
            alert("You have entered an invalid email address!")
            return (false)
        }

        function hasNumber(myString) {
            return /\d/.test(myString);
        }

        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }




    </script>


</head>

<body style="background: #355C7D;   /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bloodmain">Blood Donation</a>
    <a href="/contact">Contact Us</a>
</div>


<div class="form-group" style="margin-left: 450px;">
    <section class="linsert">
        <form action="/linsert" method="post">
            <h3 style="font-size: 50px;" style="margin-left: 110px;"><i>Insert Appointment Data</i></h3>
            <br>
            <div class="input">

                <label for="lname" style="margin-left: 40px;">Full Name</label>
                <input type="text" id="lname" name="lname" style="margin-left: 20px;"required onkeypress="return validate();">
            </div>
            <br>

            <div class="input">
                <label for="ltitle" style="margin-left: 80px;">Age</label>
                <input type="text" id="ltitle" name="ltitle" style="margin-left: 20px;"required onkeypress="return validatephone();">
            </div>
            <br>
            <div class="input">
                <label for="lcontent" style="margin-left: 60px;">Gender</label>
                <input type="text" id="lcontent" name="lcontent" style="margin-left: 20px;"required onkeypress="return validate();">
            </div>
            <br>
            <div class="input">
                <label for="lauthor" style="
                margin-left: 40px;">Conntact NO</label>
                <input type="text" id="lauthor" name="lauthor" style="margin-left: 10px;"  onkeypress="return validatephone();">
            </div>
            <br>

            <div class="input">
                <label for="lgender"style="margin-left: 40px;">Address</label>
                <input type="text" id="lgender"style="margin-left: 35px;"  required name="lgender">
            </div>
            <br>

            <div class="input">
                <label for="lcontact"style="margin-left: 40px;">Diseas</label>
                <input type="text" id="lcontact"style="
                margin-left: 45px;"  required name="lcontact"onkeypress="return validate();">
            </div>






            <br>

            <button type="submit" style="margin-left: 180px;" class="w3-button w3-red w3-border-red w3-round-large">

                Register

            </button>


        </form>
    </section>

</div>

</body>
</html>