<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body style ="background: url(http://myessaypoint.com/wp-content/uploads/Importance-of-Blood-Donation.jpg) no-repeat;

  background-size: 100%;">
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bloodmain">Blood Donation</a>
    <a href="/contact">Contact Us</a>
</div>


<div class="login" style="margin-left: 1px; margin-top: -150px;">
    <h1 style="margin-right:-50px; "> Blood Dashboard</h1>
    <br>


    <button class="w3-button w3-red w3-border-red w3-round-large">

        <a href="/addd-data">Signup </a>

    </button>
    <br>
    <br>
    <button class="w3-button w3-red w3-border-red w3-round-large"> <a href="/dget-data">Show Doner Record</a>
    </button>



</div>
</body>