<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body style ="background: url(https://bestdoctors.com/wp-content/uploads/2016/11/Doctor-with-Tablet.jpg) no-repeat;background-size: 100%;">
<div class="navbar">
    <a href="/">Home</a>
    <a href="/bloodmain">Blood Donation</a>
    <a href="/contact">Contact Us</a>
</div>


<div class="login" style="margin-left: 1px; margin-top: -150px;">
    <h1> Doctor Dashboard</h1>
    <br>


    <button class="w3-button w3-red w3-border-red w3-round-large"> <a href="/get-data">Show Patient</a>
    </button>
    <br>
    <br>
     <button class="w3-button w3-red w3-border-red w3-round-large">
        <a href="/lget-data">See Appointments</a></button>

</div>
</body>